body{
    background-color: #efefef;
}
.main{
    background-color: #ffffff;
    margin: 30px;
}
.button{
    float: right;
    margin: 15px;
}
.media-object{
    width: 40px;
    height: 40px;
}
.my-font-style{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}