<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IOT社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/mycss.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">IOT社区</span>
            </button>
            <a class="navbar-brand" href="#">IOT社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索话题">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/publish" >发布</a>
                </li>
                <li th:if="${session.user == null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=9b5498ade1e9c7b97078&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a>
                </li>

                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h3>
        <hr>
        <div class="media" th:each="question : ${page.questionDTOList}">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading" th:text="${question.title}"></h4>
                <span class="my-font-style"> • <span th:text="${question.likeCount}"></span>人关注 • <span th:text="${question.commentCount}"></span> 个回复 • <span th:text="${question.readCount}"></span> 次浏览 • <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
            </div>
        </div>
        <span class="page">
        <nav aria-label="Page navigation" style="float: right;margin-right: 10px">
            <ul class="pagination">
                <li>
                    <a href="/?curPage=1" aria-label="First" th:if="${page.showFirst}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{'http://localhost:8080/?curPage='+${page.curPage-1}}" aria-label="Previous" th:if="${page.showPrevious}">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <li th:class=" ${page.curPage==pageNum}? 'active': ''" th:each="pageNum : ${page.pages}"><a th:href="@{'http://localhost:8080/?curPage='+${pageNum}}" th:text="${pageNum}"></a></li>
                <li>
                    <a th:href="@{'http://localhost:8080/?curPage='+${page.curPage+1}}" aria-label="Next" th:if="${page.showNext}">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{'http://localhost:8080/?curPage='+${page.maxPage}}" aria-label="End" th:if="${page.showEnd}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <h3>热门话题</h3>
    </div>
</div>

</body>
</html>